---
- name: Include prerequisites
  ansible.builtin.include_tasks:
    file: prerequisites.yml

- name: Create values
  ansible.builtin.set_fact:
    cert_manager_values_rendered="{% for option in cert_manager_values %}--set {{ option }} {% endfor %}"

- name: Render template
  ansible.builtin.shell:
    set -o errexit
    set -o pipefail
    set -o nounset

    helm template {{ cert_manager_release_name }} {{ cert_manager_chart_name }}
    --namespace {{ cert_manager_namespace }}
    --version {{ cert_manager_chart_version }}
    {{ cert_manager_values_rendered }}

    exit 0
  run_once: true
  delegate_to: 127.0.0.1
  register: cert_manager_template
  changed_when: false
  args:
    executable: "/bin/bash"

- name: Output rendered template
  ansible.builtin.debug:
    msg: "{{ cert_manager_template.stdout }}"
  run_once: true
  delegate_to: 127.0.0.1
  changed_when: false
